:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

aside {
  flex-basis: calc(100vw / 3);
  flex-shrink: 1;
  background-image: url(aside.jpg);
}

main {
  padding-left: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-basis: calc(2 * 100vw / 3);
  flex-shrink: 2;
}

.grey-bg {
  background-color: red;
  flex-basis: 40%;
  flex-shrink: 1.5;
}

.white-bg {
  flex-shrink: 1.5;
  flex-basis: 20%;
  display: flex;
}

form {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: 50%;
}

label {
  display: flex;
  flex-direction: column-reverse;
}

label > span {
  transition: all 0.2s;
  transform-origin: top left;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
}

label > input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.25);
}

input {
  height: 1rem;
  width: 200px;
}
