@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/*reset ends*/

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;

  flex-basis: calc(100vw / 3);
  flex-shrink: 1;
  background-image: url(aside.jpg);
}

main {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-basis: calc(2 * 100vw / 3);
  flex-shrink: 2;
}

.top-aside {
  font-family: norse-bold;
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  height: 35%;

  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  font-size: 5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo_x {
  height: 100%;
}

.white-bg {
  flex-shrink: 1.5;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  box-shadow: 0 20px 15px -15px #dddddd;
}

.grey-bg {
  background-color: #f9fafc;
  flex-basis: 35%;
  flex-shrink: 1.5;
}

.grey-bg > p {
  margin-left: 20px;
}

.login {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: flex-start;
  margin-left: 20px;
}

form {
  margin-left: 20px;
  flex-basis: 60%;
  width: 60%;
  align-content: space-between;
  padding-bottom: 30px;
  /* background-color: pink;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.white-bg > p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-left: 20px;
}

label {
  display: flex;
  flex-direction: column-reverse;
}

label > span {
  transition: all 0.2s;
  transform-origin: top left;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
}

label > input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.25);
}

input {
  height: 1.5rem;
  width: 200px;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  display: block;
}

input:invalid {
  border: 1px solid red;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#top > p {
  width: 50%;
  margin: 1.5rem;
}

button {
  background-color: #596d48;
  border-radius: 0.5rem;
  padding: 10px 30px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin-top: -30px;
}

/*form:has(input:invalid) {
  .error {
    display: inline;
  }
}*/
